<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid ">
        <a class="navbar-brand align-items-center d-flex" href="#">
            <img src="/src/logo.png" alt="" height="35" class="d-inline-block align-text-top invert">
            <h5 class="mx-3 my-auto d-flex">
                <!-- <a href="/" class="nostyle"> -->
                    iShop Dashboard
                <!-- </a> -->
            </h5>
        </a>
    </div>
</nav>
